.container {  
  width: 300px;  
  height: 300px;  
  border: 5px solid red;  
  }  
  button {  
  background-color: lightblue;  
  color: black;  
  font-size: 25px;  
  }  

div {
  height: 250px;
  width: 220px;
  background-color: powderblue;
}

h2 {
  text-align: center;
}

p {
  font-family: verdana;
}

button{
  align-self: center;
}